# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

In [12]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv"
data = pd.read_csv(url, sep=',')

In [13]:
print (data.head())

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 3. Assign it to a variable called baby_names.

In [14]:
data = baby_names

### Step 4. See the first 10 entries

In [18]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

print(baby_names.head())

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [20]:
gender_counts = baby_names.groupby('Gender')['Count'].sum()
print(gender_counts)

if gender_counts['F'] > gender_counts['M']:
    print("There are more female names in the dataset.")
else:
    print("There are more male names in the dataset.")

Gender
F    16380293
M    19041199
Name: Count, dtype: int64
There are more male names in the dataset.

### Step 7. Group the dataset by name and assign to names

In [22]:
names = baby_names.groupby('Name').sum(numeric_only=True)
print(names.head())

           Year  Count
Name
Aaban      4027     12
Aadan      8039     23
Aadarsh    2009      5
Aaden    393963   3426
Aadhav     2014      6

In [23]:
names = baby_names.groupby('Name')['Count'].sum()
print(names.head())

Name
Aaban        12
Aadan        23
Aadarsh       5
Aaden      3426
Aadhav        6
Name: Count, dtype: int64

### Step 8. How many different names exist in the dataset?

In [24]:
num_unique_names = baby_names['Name'].nunique()
print(f"There are {num_unique_names} different names in the dataset.")

There are 17632 different names in the dataset.

### Step 9. What is the name with most occurrences?

In [25]:
most_common_name = names.idxmax()
most_common_count = names.max()
print(f"The name with the most occurrences is {most_common_name} with {most_common_count} occurrences.")

The name with the most occurrences is Jacob with 242874 occurrences.

### Step 10. How many different names have the least occurrences?

In [ ]:
least_occurrences = names.min()
num_least_occurrences = (names == least_occurrences).sum()
print(f"There are {num_least_occurrences} different names with the least occurrences ({least_occurrences}).")

There are 2578 different names with the least occurrences (5).

### Step 11. What is the median name occurrence?

In [27]:
median_occurrence = names.median()
print(f"The median name occurrence is {median_occurrence}.")

The median name occurrence is 49.0.

### Step 12. What is the standard deviation of names?

In [29]:
std_deviation = names.std()
print(f"The standard deviation of names is {std_deviation}.")

The standard deviation of names is 11006.06946789057.

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [30]:
summary = names.describe()
print(summary)

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64